.back-button {
    margin: 10px 0 0 10px;
}

.create-avatar-page-container {
    display: flex;
    width: inherit;
}

.avatar-card-editor-overlay {
    display: flex;
    width: inherit;
    background-color: #242424;
    border: 1px solid #3b3b3b;
    margin: 15px;
    border-radius: 30px;
}